optimizer:
  type: sgd        
  params: {}           

model:
  source: models.cloned.cifar.models.vgg.VGG      
  name: cifar-cnn             

loss:
  type: cross_entropy    
  params: {}

wandb:
  project: cifar-10-cnn
  plot_name: experiment_1

dataset:
  name: cifar10
  path: data/cifar-10-batches-py
  train_split: 0.8

run:
  batch_size: 8
  lr: 0.0001
  epochs: 10
  save_path: "./checkpoint/cifar_vgg.pth"
  device: "cpu"
  quantize: false
  quantized_save_path: "./checkpoint/model_quantized.pth"