model:
  depth: 10
  in_dim: 192
  inner_dim: 128
  num_classes: 10
  img_size: 32
  patch_size: 8
  in_channels: 3
batch_size: 32
lr: 0.0001
epochs: 10
save_path: "./checkpoint/cifar_transformer.pth"
device: "cpu"

# Post-training quantization
quantize: false
quantized_save_path: "./checkpoint/model_quantized.pth"
