model_source: models.cloned.cifar.models.vgg.VGG  
model_name: cifar-cnn             
loss_fn: cross_entropy 
optimizer: sgd
optimizer_params: {}           
wandb_project: cifar-10-cnn
wandb_plot_name: experiment_1
dataset_name: cifar10
dataset_path: data/cifar-10-batches-py
train_split: 0.8
lr: 0.001
epochs: 10
save_path: "./checkpoint/cifar_vgg.pth"
batch_size: 128
device: "cpu"
quantize: false
quantized_save_path: "./checkpoint/model_quantized.pth"